* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  padding: 2rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

button {
  background-color: blue;
  border-radius: 5px;
  padding: 10px 5px 10px 5px;
  color: white;
  border: 0;
}

button:focus {
  outline: 0;
}

button:active {
  transform: scale(0.98);
}

.col {
  margin-left: 2px;
  margin-right: 2px;
  display: flex;
  flex-direction: column;
}

.col > * {
  margin-bottom: 2px;
}

.board {
  display: flex;
  flex-direction: column;
  min-height: 420px;
  min-width: 220px;
  border: solid 5px silver;
  border-radius: 5px;
}

.row {
  display: flex;
  flex-direction: row;
}


.block {
  width: 30px;
  height: 30px;
  border: solid 1px gray;
  background-color: black;
}

.filled-block {
  background-color: blue;
  border: solid 2px white;
}

.color-1 {
  background-color: white;
  border: solid 2px blue;
}

.color-2 {
  background-color: red;
  border: solid 2px white;
}

.color-3 {
  background-color: blue;
  border: solid 2px white;
}

.no-border {
  border: none;
}

.transparent-block {
  background-color: transparent;
  border: none;
}

.preview-piece {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75%;
}

.preview-piece > div {
  display: flex;
  flex-direction: row;
}

.preview-box {
  color: white;
  font-size: larger;
  justify-content: space-around;
  text-align: center;
  background-color: black;
  width: 140px;
  height: 140px;
  min-width: 140px;
  min-height: 140px;
  border: solid 5px silver;
  border-radius: 5px;
}